<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Autora: <p><%= autora %> <br> </p>
    <img src="C:\Program Files (x86)\nodejs\quiz\views\noe.jpeg" WIDTH=178 HEIGHT=180 BORDER=2 ><br>
    <a href="/"> Volver<br><br></a>
  </body>
</html>