<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Autora: <p><%= autora %> <br> </p>
    <img src="/images/noe.jpg" WIDTH=178 HEIGHT=180 BORDER=2 ><br> </img>
    <embed src = "images/Wildlife.wmv" WIDTH=300 HEIGHT=300 BORDER=2 ><br></video>
    <a href="/"> Volver<br><br></a>
  </body>
</html>